/* font-family: "Raleway", sans-serif; 
font-family: "Roboto", sans-serif; */

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
   list-style-type: none;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

address{
    font-style: normal;
}

.visually-hidden {
    margin: -1px;
    border: 0;
    
    white-space: nowrap;
    overflow: hidden;
}

/* --header-- */

.header-logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.header-logo-color{
color: #2e2f42;
}

.header-menu-link{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf
}

.header-soc-link{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-soc-link:hover,
.header-soc-link:focus {
    color: #404bbf
}

/* --hero-- */

.hero {
    background: #2e2f42;
}

.hero-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-primary-btn {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}

.hero-primary-btn:hover, .hero-primary-btn:focus  {
background-color: #404bbf
}



/* --features-- */

.features {}

.features-list {}

.features-item {}

.features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-item-tex {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --team-- */

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list {}

.team-item {
    background: #fff;
}

.team-image {}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-tex {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* --Portfolio-- */

.Portfolio {}

.Portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.Portfolio-list {}

.Portfolio-item {}

.Portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.Portfolio-tex {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --footer-- */

.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-tex {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

